.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: var(--color-light);
  padding: var(--margin-medium-s);
  box-shadow: #000 0px 5px 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card__container:hover {
  transform: scale(1.05);
}

.card__img {
  height: 200px;
  width: 200px;
}

.card__title {
  color: var(--color-dark);
  font-size: var(--font-medium);
}
