#root {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 428px) {
  .container {
    height: auto;
  }

  #root {
    height: auto;
  }
}