:root {
    --font-large-l: 6rem;
    --font-large: 4rem;
    --font-medium-lm: 3rem;
    --font-medium-large: 2.5rem;
    --font-medium: 2rem;
    --font-medium-sm: 1.5rem;
    --font-medium-s: 1.25rem;
    --font-small: 1rem;
  
    --margin-large: 4rem;
    --margin-medium-lm: 3rem;
    --margin-medium-large: 2.5rem;
    --margin-medium: 2rem;
    --margin-medium-sm: 1.5rem;
    --margin-medium-s: 1.25rem;
    --margin-small: 1rem;
  
    --color-dark: #1d2021;
    --color-light: #ebdbb2;
  
    --filter: invert(93%) sepia(15%) saturate(607%) hue-rotate(341deg) brightness(94%) contrast(96%);
    --filter-dark: invert(12%) sepia(1%) saturate(0%) hue-rotate(178deg) brightness(96%) contrast(90%);
  }